* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}

#chat-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f1f1f1;
   padding: 10px;
   border-bottom: 1px solid #ccc;
   position: fixed;
   bottom: 0;
   width: 50%;
   height: 50px;
}

@media (max-width: 730px) {
   #chat-header {
       width: 100%;
   }
   #coverImgDiv {
       display: none;
   }
   #coverImg {
       display: none;
   }
   #top-chat-header {
       width: 100%;

   }
}

#chat-container {
   display: flex;
   height: 100vh;
   width: 100vw;
}

#display-chat {
   flex: 1; /* Take up the remaining space */
   background-color: #f9f9f9; /* Optional background for chat display */
}

#coverImgDiv {
   width: 100%; /* Set appropriate width for the cover image container */
   height: 100%;
   background-color: #eaeaea; /* Optional background for the right-side area */
   overflow-y: hidden;
}

#coverImg {
   width: 100%;
   height: 100%;
}
#chats {
   height: 100%;
   width: 100%;
}
#top-chat-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f1f1f1;
   padding: 10px;
   border-bottom: 1px solid #ccc;
   width: 100%;
   height: 50px;
}
#chat-input {
   border: none;
   height: 100%;
   width: 100%;
   outline: none;
   font-size: 1.2rem;
   background-color: transparent;
}
#chat-input-div {
   border: 1px solid black;
   width: 70%;
   height: 100%;
   margin-right: 18%;
   border: none;
}
#upload, #send {
   font-size: 1.2rem;
   cursor: pointer;
}